@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .scrollbar-width-thin {
        scrollbar-width: thin;
        /* For Firefox */
    }

    .scrollbar-height-custom {
        &::-webkit-scrollbar {
            height: 8px;
            /* Customize height for horizontal scrollbar */
            width: 8px;
            /* Customize width for vertical scrollbar */
        }
    }
}